<% @songs.each do |song| %>
  <ul class="collection col m6 offset-m6">
    <li class="collection-item avatar">
      <div class="row">
        <div class="col s1 vote">
          <!-- <div class=""> -->
            <img src="images/user.png" class="rounded"><br><br>
            <a type="submit"><i class="fa fa-chevron-up"></i></a>
            <p> 0 </p>
            <a href="/downvote"><i class="fa fa-chevron-down"></i></a>
          <!-- </div> -->
        </div>
          <div class="col s2">
          <span class="title">
            <strong><a class="dark" href="<%= song.url %>" target="_blank"><%= song.name %></a></strong>
          </span>
          <p><%= song.artist %></p><br>
          <hr>
         <div class="card-action hide-on-med-and-down">
          <div class="chip">
            <div class="rating ">
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
            </div>
          </div>
        </div>

        <!-- Social Sharing -->
        <div class="sharing">
          <!-- Facebook -->
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= song.url %>%3Futm_source%3Dsoundcloud%26utm_campaign%3Dshare%26utm_medium%3Dfacebook" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a> 
          <!-- Twitter -->
          <a href="https://twitter.com/intent/tweet?text=<%= song.url %>%3Futm_source%3Dsoundcloud%26utm_campaign%3Dshare%26utm_medium%3Dtwitter&original_referer=https%3A%2F%2Fsoundcloud.com%2F" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a> 
          <!-- Email -->
          <a href="mailto:?&subject=<%= song.name %> by <%= song.artist %>&body=<%= song.url %>"><i class="fa fa-envelope-square fa-lg"></i></a>         
        </div>
      </div> <!-- /col-3 -->

        <div class="col s9">
          <!-- Sound Cloud Player -->
          <iframe width="100%" height="120" scrolling="no" frameborder="yes" src="https://w.soundcloud.com/player/?url=<%= song.url %>&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
          <div class="row">
            <p class="right uploaded-date">
              <strong>Uploaded By:</strong> 
              <% if song.user_id %>
              <% username = User.find(song.user_id) %>
              <%= username.first_name %>&nbsp<%= username.last_name %>&nbsp&nbsp
              <% else %>
              Anonymous&nbsp&nbsp
              <% end %>
              <strong>Created:</strong> <%= song.created_at.strftime("%Y-%d-%m") %>&nbsp&nbsp
              <strong>Updated:</strong> <%= song.updated_at.strftime("%Y-%d-%m") %>&nbsp&nbsp
              <% if current_user.id == song.user_id %>
                <a action="/delete_song", method="post">Delete Song <i class="fa fa-trash-o"></i></a>
              <% end %>
            </p>
          </div>
        </div> <!-- /col-9 -->
      </div> <!-- /row -->
    </li>
  </ul>
















  <!-- Review Modals-->
  <div class="review">
    <!-- Modal Trigger -->
    <p><a class="modal-trigger" href="#modal<%= song.id %>">View Comments</a></p>
  </div>









  <!-- Modal Header -->
    <div id="modal<%= song.id %>" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4><%= song.name %></h4>
        <p><%= song.artist %></p>
        <hr>

      <% @reviews.each do |review| %>
        <% if review.song_id == song.id %>
          <ul class="collection col m6 offset-m6">
            <li class="collection-item avatar">
              
              <!-- Vote -->
              <div class="row">
                <div class="col s1 vote">
                  <img src="images/user.png" class="rounded review-user-img"><br><br>
                  <!-- <a type="submit"><i class="fa fa-chevron-up"></i></a>
                  <p>0</p>
                  <a type="submit"><i class="fa fa-chevron-down"></i></a> -->
                </div>

                <!-- Review Title -->
                <div class="col s2">
                  <span class="title"><strong class="review-name">
                  <% if review.user_id %>
                    <% username = User.find(review.user_id) %>
                    <%= username.first_name %>
                  <% else %>
                    Anonymous
                  <% end %>
                  </strong></span>
                  <p class="small"><%= review.created_at.strftime("%b %d, %Y")%></p><br>
                </div> <!-- /col-3 -->

                <!-- Review Content -->
                <div class="col s9">
                  <h5><%= review.title %></h5><br>            
                  <p><%= review.content %></p>
                  <hr>
                  <div class="row">
                    <p class="right uploaded-date">
                    <strong>Member Since:</strong> <%= review.created_at.strftime("%Y-%d-%m") %>&nbsp&nbsp
                     <% if current_user.id == review.user_id %>
                      <form action="/review/delete/:id", method="post">
                        <input name="_method" value="delete" type="hidden"/>
                        <input name="review" value="<%= review.id %>" type="hidden"/>
                        <button type="submit" value="Delete Review" class="delete">Delete Review <i class="fa fa-trash-o"></i></button>
                      </form>     
                    <% end %>


                    </p>
                  </div>
                </div>
              </div> <!-- /row -->
            </li>
          </ul>
        <% end %> <!-- /review-form-condition -->
      <% end %>

      <% if @reviews.where(user_id: current_user.id, song_id: song.id).empty? %>
        <!-- Review Submit Form -->
        <div class="review-form">
          <form id="review-form" action="/new_review", method="post">
          
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="title" value="<%= @review && @review.title %>">
                <label for="text">Review Title</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea type="text" name="content" id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Review Content</label>
              </div>
            </div>

            <!-- Hidden fields for getting the User and Song ID -->
            <input type="hidden" name="song_id" value="<%= song.id %>">
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
            <!-- /hidden fields -->
        
            <input type="submit" value="Submit Review" class="waves-effect waves-light orange accent-3 btn">

          </form>
        </div> <!-- /review form -->
      <% end %>
    </div> <!-- /modal-content -->


    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-orange btn-flat">Close</a>
    </div>
  </div>

<% end %> <!-- /songs-loop -->

